<nav class="navbar navbar-expand-md navbar-dark bg-primary px-4">
  <div class="container">
    <a class="navbar-brand" href="#">Social App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarCollapse"
    >
      <ul *ngIf="loggedIn()" class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Messages</a>
        </li>
      </ul>

      <div *ngIf="loggedIn()" class="dropdown">
        <button
          class="dropdown-toggle btn text-light"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Welcome {{ userName | titlecase }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#"
              ><i class="fa fa-user"></i> Edit profile</a
            >
          </li>
          <li class="dropdown-divider"></li>
          <li>
            <button class="dropdown-item" (click)="logOut()">
              <i class="fa fa-sign-out"></i> Logout
            </button>
          </li>
        </ul>
      </div>

      <form
        *ngIf="!loggedIn()"
        #loginForm="ngForm"
        class="d-flex"
        (ngSubmit)="login()"
      >
        <input
          class="form-control me-2"
          type="text"
          required
          name="username"
          placeholder="Username"
          [(ngModel)]="model.username"
        />
        <input
          class="form-control me-2"
          type="password"
          name="password"
          required
          placeholder="Password"
          [(ngModel)]="model.password"
        />

        <button
          [disabled]="!loginForm.valid"
          class="btn btn-success"
          type="submit"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
